openapi: 3.0.3
info:
  title: vistaq API
  version: 1.0.0
  description: |
    Backend API for the vistaq insurance agent management platform.

servers:
  - url: https://stg-api.vistaq.co/api
    description: Staging

tags:
  - name: Health
    description: API health check

################################################################################
# Paths
################################################################################

paths:

  ##############################################################################
  # HEALTH
  ##############################################################################

  /health:
    get:
      tags: [Health]
      summary: Health check
      description: >
        Returns the current operational status of the API. No authentication is
        required. Intended for uptime monitoring and load-balancer probes.
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                required: [status, timestamp]
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                    example: '2026-03-04T08:00:00.000Z'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message:
                    type: string
                    example: Server Error
