openapi: 3.0.3
info:
  title: vistaq API
  version: 1.0.0
  description: |
    Backend API for the vistaq insurance agent management platform.

servers:
  - url: https://stg-api.vistaq.co/api
    description: Staging

tags:
  - name: Health
    description: API health check
  - name: Auth
    description: Authentication endpoints
  - name: Users
    description: User management endpoints

################################################################################
# Paths
################################################################################

paths:

  ##############################################################################
  # HEALTH
  ##############################################################################

  /health:
    get:
      tags: [Health]
      summary: Health check
      description: >
        Returns the current operational status of the API. No authentication is
        required. Intended for uptime monitoring and load-balancer probes.
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                required: [status, timestamp]
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                    example: '2026-03-04T08:00:00.000Z'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  ##############################################################################
  # AUTH
  ##############################################################################

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new agent
      description: >
        Creates a new agent user account under the tenant identified by the
        `X-Tenant-Slug` header. The supplied `agentCode` must exist in the
        tenant's provisioned agent codes and must not have been used previously.
        On success the newly created user record and a session JWT are returned.
        The token may be `null` if the automatic sign-in after registration
        fails — the account is still created in that case.
      security: []
      parameters:
        - name: X-Tenant-Slug
          in: header
          required: true
          description: >
            Slug that identifies the tenant the registering user belongs to.
            Returns 400 if the header is absent or not a string value, and 404
            if no tenant matches the supplied slug.
          schema:
            type: string
            example: acme-insurance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fullName
                - agentCode
                - email
                - password
                - groupId
                - location
              properties:
                fullName:
                  type: string
                  minLength: 1
                  example: Jane Smith
                agentCode:
                  type: string
                  minLength: 1
                  description: >
                    Agent code provisioned by the tenant. Must exist in the
                    tenant's agent_codes table and must not have been used by
                    another account. Always supplied by the client — never
                    auto-generated by the server.
                  example: AGT-00123
                email:
                  type: string
                  format: email
                  example: jane.smith@example.com
                password:
                  type: string
                  minLength: 6
                  description: >
                    Must be at least 6 characters and contain at least one
                    uppercase letter, one special character, and one digit.
                  example: Secret@1
                groupId:
                  type: string
                  format: uuid
                  description: UUID of the group the agent belongs to.
                  example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                location:
                  type: string
                  minLength: 1
                  example: Singapore
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    required: [user, token]
                    properties:
                      user:
                        $ref: '#/components/schemas/UserObject'
                      token:
                        type: string
                        nullable: true
                        description: >
                          JWT session token. `null` if the automatic sign-in
                          after registration failed — the account is still
                          created.
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        '400':
          description: >
            Bad request. Returned when the `X-Tenant-Slug` header is missing,
            request body fails validation, or the agent code is invalid or
            already used.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                missingHeader:
                  summary: Missing X-Tenant-Slug header
                  value:
                    message: X-Tenant-Slug header is required
                invalidAgentCode:
                  summary: Invalid or already used agent code
                  value:
                    message: Invalid or already used agent code
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: too_small
                        minimum: 6
                        type: string
                        inclusive: true
                        exact: false
                        message: Password must be at least 6 characters
                        path: [password]
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Tenant not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      tags: [Auth]
      summary: Log in an existing agent
      description: >
        Authenticates an agent under the tenant identified by the `X-Tenant-Slug`
        header using email and password. On success, returns the user record and a
        JWT session token.
      security: []
      parameters:
        - name: X-Tenant-Slug
          in: header
          required: true
          description: >
            Slug that identifies the tenant the authenticating user belongs to.
            Returns 400 if the header is absent or not a string value, and 404
            if no tenant matches the supplied slug.
          schema:
            type: string
            example: acme-insurance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: jane.smith@example.com
                password:
                  type: string
                  example: Secret@1
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    required: [user, token]
                    properties:
                      user:
                        $ref: '#/components/schemas/UserObject'
                      token:
                        type: string
                        description: JWT session token.
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        '400':
          description: >
            Bad request. Returned when the `X-Tenant-Slug` header is missing,
            request body fails validation, or the supplied credentials are invalid.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                missingHeader:
                  summary: Missing X-Tenant-Slug header
                  value:
                    message: X-Tenant-Slug header is required
                invalidCredentials:
                  summary: Invalid credentials
                  value:
                    message: Invalid credentials
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: invalid_string
                        validation: email
                        message: Invalid email
                        path: [email]
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Tenant not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Log out the current user
      description: >
        Invalidates the session associated with the supplied Bearer token.
        The `Authorization` header must be present and contain a non-empty
        token in the form `Bearer <token>`. Returns 401 if the header is
        missing, malformed, or the token portion is empty.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success:
                    type: boolean
                    example: true
        '401':
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            does not start with `Bearer `, or the token portion is empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingHeader:
                  summary: Missing Authorization header
                  value:
                    message: Authorization header is required
                emptyToken:
                  summary: Empty token in Authorization header
                  value:
                    message: Authorization token is required
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  ##############################################################################
  # USERS
  ##############################################################################

  /users:
    get:
      tags: [Users]
      summary: List all users in the tenant
      description: >
        Returns all users belonging to the authenticated user's tenant.
        The caller must supply a valid Bearer token. The response contains
        an array of user objects scoped to the caller's tenant.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserObject'
        '401':
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      tags: [Users]
      summary: Create a new user (admin only)
      description: >
        Creates a new user account within the authenticated admin's tenant.
        The caller must supply a valid Bearer token belonging to a user with
        the `admin` role. When `role` is `agent`, an `agentCode` must also be
        provided; it must exist in the tenant's provisioned agent codes and
        must not have been previously used.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - role
              properties:
                name:
                  type: string
                  minLength: 1
                  example: John Doe
                email:
                  type: string
                  format: email
                  example: john.doe@example.com
                password:
                  type: string
                  minLength: 8
                  description: >
                    Must be at least 8 characters and contain at least one
                    uppercase letter and one digit.
                  example: Secret@1
                role:
                  type: string
                  enum: [admin, master_trainer, trainer, group_leader, agent]
                  example: agent
                agentCode:
                  type: string
                  description: >
                    Required when `role` is `agent`. Agent code provisioned by
                    the tenant. Must exist in the tenant's agent_codes table and
                    must not have been used by another account. Always supplied
                    by the client — never auto-generated by the server.
                  example: AGT-00123
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/UserObject'
        '400':
          description: >
            Bad request. Returned when the request body fails validation or
            the supplied agent code is invalid or already used.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ValidationErrorResponse'
                  - $ref: '#/components/schemas/ErrorResponse'
              examples:
                validationFailure:
                  summary: Request body validation failure
                  value:
                    message: Validation failed
                    errors:
                      - code: too_small
                        minimum: 8
                        type: string
                        inclusive: true
                        exact: false
                        message: Password must be at least 8 characters
                        path: [password]
                invalidAgentCode:
                  summary: Invalid or already used agent code
                  value:
                    message: Invalid or already used agent code
        '401':
          description: >
            Unauthorized. Returned when the `Authorization` header is absent,
            malformed, or contains an invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '403':
          description: Forbidden. Returned when the authenticated user is not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Forbidden
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

################################################################################
# Components
################################################################################

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    UserObject:
      type: object
      required:
        - id
        - tenant_id
        - email
        - name
        - role
        - agent_code
        - location
        - group_id
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
        tenant_id:
          type: string
          format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        email:
          type: string
          format: email
          example: jane.smith@example.com
        name:
          type: string
          example: Jane Smith
        role:
          type: string
          enum: [admin, master_trainer, trainer, group_leader, agent]
          example: agent
        agent_code:
          type: string
          example: AGT-00123
        location:
          type: string
          example: Singapore
        group_id:
          type: string
          format: uuid
          nullable: true
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        status:
          type: string
          enum: [active, inactive, suspended]
          example: active
        created_at:
          type: string
          format: date-time
          example: '2026-03-07T08:00:00.000Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-03-07T08:00:00.000Z'

    ErrorResponse:
      type: object
      required: [message]
      properties:
        message:
          type: string
          example: Server Error

    ValidationErrorResponse:
      type: object
      required: [message, errors]
      properties:
        message:
          type: string
          example: Validation failed
        errors:
          type: array
          items:
            type: object
          example: []
